$font-main: 'Lato',
sans-serif;
$primary-color: #b7bacd;
$secondary-color: #ffffff;
$secondary-color-2: #fdfdfd;
$control-color: #13e28d;
$rating-color: #fedd3f;
$stars-color: #4b536b;
$bg-tab: #212534;
$head-color: #2b3040;